body {
  margin: 0;
  background-color: #ecf0c7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BagelFat";
  src: local("BagelFat"),
    url("./resources/fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf");
}

@font-face {
  font-family: "FasterOne";
  src: local("FasterOne"),
    url("./resources/fonts/Faster_One/FasterOne-Regular.ttf");
}

.bagel-fat {
  font-family: "BagelFat";
}

.faster-one {
  font-family: "FasterOne";
}